body {
    backdrop-color: #9a9c24;
    color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

h1 {
    font-size: 36px;
    font-weight: 400;
    color: #c0D06F;
    margin: 20px;
}

.log {
    text-align: center;
}

.machines {
    text-align: center;
}

.machines img {
    width: 100%;
    height: auto;
}

.machines p {
    margin-bottom: 30px;
}

.machines figcaption {
    margin-top: 8px;
}

.nav {
    min-height: 57px;
}
